mixin exercice(difficulty, section, title)
  li
    input(type="checkbox" checked)
    i
    h2(class=difficulty)
      strong= section
      | &nbsp; #{title}
    if block
      block
    else
      p No content provided

doctype html
html( lang="en" )
  head
    title Quickstart C
    meta( charset='utf-8' )
    link( rel="stylesheet" href="style.css" id="main-styles-link" )
  body
    h1 Exercices pratiques
    ul
      +exercice('easy', 'Boucles', 'Fibonacci')
        p Trouver les 93 premiers nombres de fibonacci sans utiliser de variables static. Pour éviter de déborder, utiliser un integer de 64 bits. Pour pousser plus loin l'exercice, trouver trois façons différentes de trouver la réponse.

      +exercice('easy', 'Boucles', 'Multiplication de matrices')
        p Faire la multiplication de deux matrices 4x4. Une description du processus est disponible 
          a(href="https://www.mathsisfun.com/algebra/matrix-multiplying.html") ici
          | . Cet exemple est typiquement fait avec une boucle for, mais vous pouvez expérimenter avec des boucles while.

      +exercice('medium', 'Boucles', 'Nombres premiers')
        p Trouver les 100 premiers nombres premiers. Utilisez des integers de 32 bits et faites attention à avoir asser d'espace. Pour plus de défi, vous pouvez utiliser une implémentation d'un vecteur (voir exercice ci-dessous).

      +exercice('easy', 'Strings', 'Strlen')
        p Liser le "man page" (page de manuel) à propos de strlen (disponible online). Par la suite, faites votre version de la fonction

      +exercice('medium', 'Strings', 'Palindromes')
        p Faites une fonction qui dit si une string est un palindrome. C'est à dire, est-ce que cette string est la même si on la lit à l'envers. 'laval' et 'kayak' sont des palindromes.

      +exercice('medium', 'Strings', 'Langage des parenthèses')
        p Faites une fonction qui dit si une string est valide dans le langage des parenthèses. Dans le langage des parenthèses, une parenthèse ouvrante est toujours suivie d'une parenthèse fermante correspondante (<code>()</code> est valide, mais <code>)()</code> et <code>)(</code> non). Il n'y a qu'une seule paire de parenthèse à la racine (<code>()()</code> n'est pas valide puisqu'il y a deux paires à la racine). Les parenthèses peuvent être incorporées, tant qu'elles repsectent les règles précédentes (par exemple <code>((()()(())))</code> est valide).

      +exercice('easy', 'Opération binaires', 'Table d\'opération')
        p Écrivez dans stdout le résultat sur deux int des opérations 'or', 'and', 'xor' et 'not'

      +exercice('medium', 'Opération binaires', 'Checksum')
        p Lors de la transmission de messages, il est important de vérifier que la transmission s'est bien déroulée. On utilise pour ça un 'checksum'. La forme la plus basique consiste à faire un xor entre tous les bytes de l'opération. Implémentez un checksum sur une string.

      +exercice('hard', 'Opération binaires', 'MD5SUM')
        p Lors de la transmission de messages, il est important de vérifier que la transmission s'est bien déroulée. On utilise pour ça un 'checksum'. Le MD5 est un algorithme de hashage rapide très utilisé via internet. Voir
          a(href="https://en.wikipedia.org/wiki/MD5#Algorithm") wikipedia 
          | pour une description détaillée de l'algorithme

      +exercice('easy', 'Structures de données', 'Triangle')
        p Représentez de manière efficace un triangle dans une structure de données. Les coordonnées sont entières et ne dépassent pas 100. Par la suite, pouvez-vous trouver la manière la plus efficace en terme de mémoire pour stocker l'information?

      +exercice('medium', 'Structures de données', 'Linked list')
        p Une linked list est une structure de données simple. Les données sont stockées dans des 'nodes', qui contiennent une valeur d'une liste et un pointeur vers la prochaine valeur. Implementez une linked list avec gestion de la mémoire et comparez les performances entre un calcul avec la linked list et celle avec un array. Fonctions utiles: <code>malloc</code> et <code>free</code>.

      +exercice('medium', 'Structures de données', 'Vecteur')
        p Un vecteur est un array avec une taille variable. Il est typiquement composé d'un pointeur, d'une longueur utilisée et d'une capacité. Pour éviter de faire trop d'allocations, doublez la capacité chaque fois que vous faites grossir le vecteur. Fonctions utiles: <code>realloc</code>, <code>malloc</code>, <code>free</code>.

      +exercice('hard', 'Structures de données', 'Hashmap')
        p Un hashmap est un array de vecteurs qui distribue les valeurs stockées selon un "hash" (par exemple le checksum ci-haut) pour rendre la recherche de valeur plus rapide. Demandez à Xavier si vous voulez faire l'exercice, car il est assez dur à comprendre.
